*{
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;
    min-width: 100px;
}
.padding-box{
    height: 80px;
    width: 100%;
    margin-top: 20px;
}
.padding-style{
    height: 100%;
    width: 1000px;
    margin: auto;
    background-color: black;
}


#conter{
    width: 100%;
    height: 160px;
    margin-top:10px;
}
.maniu-list-box{
    height: 100%;
    width: 1000px;
    margin: auto;
    border: 2px solid gainsboro;
}
.maniu-list{
    width:100%;
    height: 33%;
    border-bottom: 2px solid gainsboro;
}
.list-item{
    list-style: none;
    width: 60px;
    height: 40px;
    float: left;
}
.first-item-box{
    display: block;
    height: 50%;
    width: 100%;
    padding: 14px 0px;
    margin-left: 10px;
    font-weight: 700;
    font-family: "Microsoft YaHei UI";
}
.moviestype{
    text-decoration: unset;
    color: black;
    display: block;
    height: 20px;
    width: 40px;
    padding: 5px 6px;
    font-family: "Microsoft YaHei UI";
    margin-left: 15px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.typeactive{
    background-color: darkorange;
    border-radius: 8px;
    color: white;
}

#movie-box-style{
    height: 1200px;
    width: 100%;
    margin-top: 20px;
}
.movies-list-box{
    height: 100%;
    width: 1000px;
    margin: auto;
}
.movies-box{
    height: 100%;
    width: 100%;
}
.movies-item{
    height: 320px;
    width: 180px;
    list-style: none;
    float: left;
    margin: 0px 10px;
    position: relative;
}
.movies-img-box{
    height: 265px;
    width: 180px;
}
.movies-img-box img{
    height: 100%;
    width: 100%;
}
.movies-name-box{
    width: 100%;
    height:25px;
}
.movies-masg{
    text-decoration: unset;
    display: block;
    width: 100%;
    height:25px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: 5px;
}
.radius{
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #999;
}
.sping{
    width: 35px;
    height: 25px;
}
.sping-font{
    width: 35px;
    height: 25px;
    background-color: darkorange;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-top: 2px;
}


