*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    min-width: 100px;
}
#center-box{
    width: 100%;
    height: 1200px;
    margin-top: 50px;
}
.center-blk{
    width: 1000px;
    height: 100%;
    margin: auto;
}
.title-box{
    height: 45px;
    width: 100%;
    border-bottom: 2px solid #979797;
}
.font-box{
    height: 100%;
    width: 160px;
    font-size: 35px;
    font-weight: 700;
    font-family:'楷体';
}
/*.flash-but{*/
/*    float: right;*/
/*    width: 100px;*/
/*    height:20px;*/
/*    font-size: 20px;*/
/*    font-weight: 700;*/
/*}*/
.movies-real{
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.movies-box{
    height: 100%;
    width: 100%;
}
.movies-item{
    height: 320px;
    width: 180px;
    list-style: none;
    float: left;
    margin: 0px 10px;
    position: relative;
}
.movies-img-box{
    height: 265px;
    width: 180px;
}
.movies-img-box img{
    height: 100%;
    width: 100%;
}
.movies-name-box{
    width: 100%;
    height:25px;
}
.movies-masg{
    text-decoration: unset;
    display: block;
    width: 100%;
    height:25px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: 5px;
}
.radius{
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #999;
}
.sping{
    width: 35px;
    height: 25px;
}
.sping-font{
    width: 35px;
    height: 25px;
    background-color: darkorange;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-top: 2px;
}

