* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    min-width: 100px;
}
#app{
    height: 100%;
    width: 100%;
}

#conter-box {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.img-box-style{
    width: 1000px;
    height: 100%;
    position: relative;
    margin: auto;
}
.img-box-style i{
    width: 25px;
    height: 25px;
    z-index: 20;
    float: left;
    position: absolute;
    cursor: pointer;
}
.img-box-style i img{
    width: 25px;
    height: 25px;
}
.flash-left{
    left: 0;
    top:50%;
}
.flash-raght{
    right: 0;
    top:50%;
}
.img-box {
    width: 100%;
    height: 100%;
    list-style: none;
    position: absolute;
}

.img-item {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
}

.bar {
    height: 30px;
    width: 150px;
    z-index: 10;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.barbox {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    float: left;
    border: 2px solid #808080;
    margin: 0px 10px;
    cursor: pointer;
}

#movies-box{
    width: 100%;
    height: 900px;
    margin-top: 40px;
}
.movies{
    width: 1000px;
    height: 100%;
    margin:auto;
}
.movie-header{
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #979797;
}
.movie-header .font-sp{
    display: block;
    width: 125px;
    height: 25px;
    font-family: "Microsoft YaHei UI";
    font-size: 20px;
    float: left;
    padding-top: 5px;
    color: #979797;
}
.flash-but{
    float: right;
    height: 100%;
    width: 50px;
    display: block;
    text-align: right;
    font-size: 15px;
    padding-top: 7px;
    padding-right: 5px;
}
.flash-but a{
    text-decoration: unset;
    color: #979797;
}
.movies-box-style{
    width: 1000px;
    height: 100%;
    margin: auto;
    margin-top:10px;
}
.movies-box-style{
    width: 100%;
    height: 100%;
}
.movie-item{
    height: 320px;
    width: 180px;
    list-style: none;
    float: left;
    margin: 0px 10px;
    position: relative;
}
.movie-item img{
    height: 265px;
    width: 180px;
}
.movie-href{
    text-decoration: unset;
    color: black;
    font-family: "Microsoft YaHei UI";
}
.movie-href{
    display: block;
    width: 100%;
    height:25px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
}
.indius{
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #999;
}
.price{
    /*display: block;*/
    width: 35px;
    height: 25px;
    background-color: darkorange;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-top: 2px;
}
.pointactive{
    background-color:white;
}


