*{
    margin: 0px;
    padding: 0px;
}
#cernet-box{
    margin-top:40px ;
    height: 500px;
    width: 100%;
    background-color: #999999;
}
.cernet{
    width: 1000px;
    height: 100%;
    margin: auto;
}