<div id="spack">
</div>
<div id="header">
    <div class="logo-style">
        <div class="logo-img-box">
        </div>
        <div class="search-box">
            <div class="search">
                <form action="" method="post">
                    <input type="text" placeholder="请输入电影名或演员..." name="movieid" id="" value=""/>
                </form>
                <button><i>搜索</i></button>
            </div>
        </div>
        <div class="login-box">
            <div class="login">
                <a href="#">
                    <img src="../static/img/loginlogo.png">
                </a>
            </div>
        </div>
    </div>
    <div class="mniu-list-box">
        <div class="mniu-list">
            <ul class="item-list">
                <li :class="{item:true,active:index===number}" v-for="(i,index) in maniulist" @click="active(index)">
                    <a :href="activehref[index]">
                        {% verbatim %}
                        {{ i }}
                        {% endverbatim %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>