<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/vue.js"></script>
</head>
<body>
{% include "Header.html" %}
<div class="padding-box">
    <div class="padding-style">

    </div>
</div>
<div id="conter">
    <div class="maniu-list-box">
        <ul class="maniu-list">
            <li class="list-item">
                <span class="first-item-box">类型:</span>
            </li>
            <li class="list-item" v-for="(oneitem,oneindex) in type">
                <a :class="{moviestype:true,typeactive:oneindex===typenum}" @click="typeactive(oneindex)" href="#">
                    {% verbatim %}
                    {{ oneitem }}
                    {% endverbatim %}
                </a>
            </li>
        </ul>
        <ul class="maniu-list">
            <li class="list-item">
                <span class="first-item-box">国家:</span>
            </li>
            <li class="list-item" v-for="(towitem,towindex) in contry">
                <a :class="{moviestype:true,typeactive:towindex===contrynum}" @click="contryactive(towindex)" href="#">
                    {% verbatim %}
                    {{ towitem }}
                    {% endverbatim %}
                </a>
            </li>
        </ul>
        <ul class="maniu-list">
            <li class="list-item">
                <span class="first-item-box">年代:</span>
            </li>
            <li class="list-item" v-for="(threeitem,threeindex) in years">
                <a :class="{moviestype:true,typeactive:threeindex===yearsnum}" @click="yearsactive(threeindex)"
                   href="#" :title="threeitem">
                    {% verbatim %}
                    {{ threeitem }}
                    {% endverbatim %}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="movie-box-style">
    <div class="movies-list-box">
        <ul class="movies-box">
            <li class="movies-item">
                <div class="movies-img-box">
                    <a href="#">
                        <img src="../static/img/moviesimg/乱世佳人.jpg">
                    </a>
                </div>
                <div class="movies-name-box">
                    <a class="movies-masg" href="#">
                        乱世佳人
                    </a>
                    <span class="radius">
                        乱世出佳人
                    </span>
                </div>
                <div class="sping">
                    <div class="sping-font">
                        9.2
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<link rel="stylesheet" href="../static/css/movieslist.css">
<link rel="stylesheet" href="../static/css/header.css">
<script>
    var header = new Vue({
        el: '#header',
        data() {
            return {
                maniulist: ['首页', '分类', '实时', '热门', '高评', '最新'],
                activehref: ['/recommon', '/movieslist', '/realtime', '/hot', '/height', '/new'],                number: 1,
            }
        },
        methods: {
            active(abc) {
                this.number = abc
                console.log(abc)
            }
        }
    });
    var movieslist = new Vue({
        el: '#conter',
        data() {
            return {
                type: ['全部', '爱情', '喜剧', '动画', '剧情', '恐怖', '惊悚', '科幻', '动作', '悬疑', '犯罪', '冒险', '战争', '奇幻', '家庭'],
                contry: ['全部', '大陆', '香港', '美国', '韩国', '日本', '泰国', '印度', '法国', '英国', '其他'],
                years: ['全部', '2020', '2019', '2016', '2010-2015', '2000-2009', '90年代', '80年代', '70年代', '更早'],
                typenum: 0,
                contrynum: 0,
                yearsnum: 0,
            }
        },
        methods: {
            typeactive(a) {
                this.typenum = a
            },
            contryactive(b) {
                this.contrynum = b
            },
            yearsactive(c) {
                this.yearsnum = c
            }
        }
    })
</script>
</html>