<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript" src="../static/js/vue.js"></script>
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
{% include 'Header.html' %}
<div id="cernet-box">
    <div class="cernet">

    </div>
</div>
</body>
<link rel="stylesheet" href="../static/css/search.css">
<script>
    var header = new Vue({
        el: '#header',
        data() {
            return {
                maniulist: ['首页', '分类', '实时', '热门', '高评', '最新'],
                activehref: ['/recommon', '/movieslist', '/realtime', '/hot', '/height', '/new']
            }
        },
    });
</script>
</html>